* {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(100, 102, 221);
  background: linear-gradient(
    0deg,
    rgba(100, 102, 221, 1) 37%,
    rgba(222, 188, 224, 1) 100%
  );
  background-repeat: no-repeat;
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 768px;
  background-color: #ffffff;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 5px rgba(112, 112, 112, 0.26);
  -webkit-box-shadow: 0px 2px 5px 5px rgba(112, 112, 112, 0.26);
  -moz-box-shadow: 0px 2px 5px 5px rgba(112, 112, 112, 0.26);
}

.faq {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #cccccc;
  padding: 20px;
  margin: 2rem;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  width: 650px;
}

@media only screen and (max-width: 1080px) {
  .faq-container {
    display: flex;
    flex-direction: column;
  }

  .faq {
    max-width: 320px;
  }
}

.faq-toggle {
  background-color: #ffffff;
  color: #6466dd;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 30px;
  right: 50px;
}

.faq.active .faq-toggle {
  background-color: #ffffff;
  color: #6466dd;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 40px;
  right: 50px;
}

h1 {
  font-size: 3rem;
}
.faq-title {
  font-size: 1.7rem;
  font-weight: 800;
}

.faq-text {
  display: none;
}

.faq.active .faq-text {
  display: block;
  font-size: 1.25rem;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}
